Localization
{
	ru
	{
		#LOC_PartInfoInPAW_PartModuleName = Расширенная информация о детали
		#LOC_PartInfoInPAW_PartInfo_GroupTitle = Расширенная информация о детали
		#LOC_PartInfoInPAW_Engine1Info_GroupTitle = Двигатель №1
		#LOC_PartInfoInPAW_Engine2Info_GroupTitle = Двигатель №2
		#LOC_PartInfoInPAW_MultimodeEngineInfo_GroupTitle = Режим двигателя "<<1>>"
		#LOC_PartInfoInPAW_PartName_Title = Имя (ID)
		#LOC_PartInfoInPAW_PartMod_Title = Папка мода
		#LOC_PartInfoInPAW_PartDryMass_Title = Сухая масса
		#LOC_PartInfoInPAW_PartDryWetMass_Title = Сухая / полная масса
		#LOC_PartInfoInPAW_PartCost_Title = Стоимость
		#LOC_PartInfoInPAW_PartEmptyCostFullCost_Title = Стоим. / полная стоим.
		#LOC_PartInfoInPAW_PartEntryCost_Title = Стоим. выкупа
		#LOC_PartInfoInPAW_PartCrewInfo_Title = Экипаж / макс. экипаж
		#LOC_PartInfoInPAW_BulkheadProfiles = Профили перегородок
		#LOC_PartInfoInPAW_EnginePropellants_Title = Пропелленты
		#LOC_PartInfoInPAW_EnginePropellantFlow_Format = <<1>>: <<2>>/с
		#LOC_PartInfoInPAW_EnginePropellantFlowFull_Format = <<1>>: <<2>>/с\n(<<3>>)
		#LOC_PartInfoInPAW_EngineThrust_Title = Тяга
		#LOC_PartInfoInPAW_EngineThrust_Format = <<1>> <<3>> (вакуум) / <<2>> <<3>> (1 атм.)
		#LOC_PartInfoInPAW_EngineThrust_FormatAirBreathing = <<1>> <<3>> (Мах 0) / <<2>> <<3>> (Мах <<4>>)
		#LOC_PartInfoInPAW_EngineThrust_FormatSimple = <<1>> <<2>>
		#LOC_PartInfoInPAW_EngineMinThrust_Title = Мин. тяга
		#LOC_PartInfoInPAW_EngineISP_Title = Уд. импульс, с
		#LOC_PartInfoInPAW_EngineISP_Format = <<1>> (вакуум) / <<2>> (1 атм.)
		#LOC_PartInfoInPAW_EngineISP_FormatSimple = <<1>>
		#LOC_PartInfoInPAW_EngineGimbal_Title = Откл. вектора тяги
		#LOC_PartInfoInPAW_EngineGimbal_NoGimbal = отсутствует
		#LOC_PartInfoInPAW_EngineGimbal_Format1 = <<1>>°
		#LOC_PartInfoInPAW_EngineGimbal_Format2 = <<1>>° X, <<2>>° Y
		#LOC_PartInfoInPAW_EngineGimbal_Format3 = <<1>>° X, +<<2>>/-<<3>>° Y
		#LOC_PartInfoInPAW_EngineGimbal_Format4 = +<<1>>/-<<2>>° X, <<3>>° Y
		#LOC_PartInfoInPAW_EngineGimbal_Format5 = +<<1>>/-<<2>>° X, +<<3>>/-<<4>>° Y
		#LOC_PartInfoInPAW_EngineGimbal_Format1_AirBreathing = <<1>>°
		#LOC_PartInfoInPAW_EngineGimbal_Format2_AirBreathing = <<1>>° тангаж, <<2>>° рыск.
		#LOC_PartInfoInPAW_EngineGimbal_Format3_AirBreathing = <<1>>° тангаж, +<<2>>/-<<3>>° рыск.
		#LOC_PartInfoInPAW_EngineGimbal_Format4_AirBreathing = +<<1>>/-<<2>>° тангаж, <<3>>° рыск.
		#LOC_PartInfoInPAW_EngineGimbal_Format5_AirBreathing = +<<1>>/-<<2>>° тангаж, +<<3>>/-<<4>>° рыск.
		#LOC_PartInfoInPAW_CopyPartName_Action = Скопировать имя детали
		#LOC_PartInfoInPAW_CopyPartNode_Action = Скопировать конфиг детали
		#LOC_PartInfoInPAW_CopyOrigPartNode_Action = Скопировать ориг. файл конфига
		#LOC_PartInfoInPAW_OpenPartCFGInEditor_Action = Открыть конфиг в редакторе
		#LOC_PartInfoInPAW_OpenPartCFGInWindow_Action = Открыть конфиг в окно
		#LOC_PartInfoInPAW_OpenOrigPartCFGInEditor_Action = Открыть ориг. конфиг в редакторе
		#LOC_PartInfoInPAW_OpenOrigPartCFGInWindow_Action = Открыть ориг. конфиг в окно
		#LOC_PartInfoInPAW_PartModuleInfo = <b>Имя (ID) детали:</b> <<1>><br>\n<b>Путь к CFG-файлу детали:</b> <<2>>
		#LOC_PartInfoInPAW_CopyToClipboard_PartID_SuccessMsg = <color=#CCFF00>Деталь <<1>> : ID успешно скопировано</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartID_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать ID детали <<1>>!</color>
		#LOC_PartInfoInPAW_GetNode_PartCFG_FailureMsg = <color=#FF8000>Ошибка: не удалось получить конфиг детали <<1>>!</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartCFG_SuccessMsg = <color=#CCFF00>Деталь <<1>> : конфиг успешно скопирован</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartCFG_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать конфиг детали <<1>>!</color>
		#LOC_PartInfoInPAW_OpenFile_PartOrigFile_FailureMsg = <color=#FF8000>Ошибка: не удалось открыть базовый CFG файл детали <<1>>!</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartOrigFile_SuccessMsg = <color=#CCFF00>Деталь <<1>> : базовый CFG файл успешно скопирован</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartOrigFile_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать базовый CFG файл детали <<1>>!</color>
		#LOC_PartInfoInPAW_CantWriteToTempFile_PartCFG_FailureMsg = <color=#FF8000>Ошибка: не удалось записать конфиг детали во временный файл <<1>>!</color>
		#LOC_PartInfoInPAW_CantOpenFile_FailureMsg = <color=#FF8000>Ошибка: не удалось открыть файл <<1>> в редакторе по умолчанию!</color>
		#LOC_PartInfoInPAW_ShowPartMMPatchesHistory_Action = История MM патчей

		#LOC_PartInfoInPAW_PartMMPatchesHistory_Title = MM-патчи в порядке их применения для детали<br><<1>>
		#LOC_PartInfoInPAW_CloseBtn = Закрыть
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusLogParsed = История MM-патчей детали подготовлена
		#LOC_PartInfoInPAW_PartMMPatchesHistory_PartPatchesMsg = <b>Деталь <color=yellow><<1>></color> : всего <<2>> MM-патчей</b>
		#LOC_PartInfoInPAW_PartMMPatchesHistory_ExpandAllPatchesBtn = Развернуть все
		#LOC_PartInfoInPAW_PartMMPatchesHistory_CollapseAllPatchesBtn = Свернуть все
		#LOC_PartInfoInPAW_PartMMPatchesHistory_CopyPatchesWithPartCFG = Включать ориг. конфиг детали при копировании/открытии
		#LOC_PartInfoInPAW_PartMMPatchesHistory_CopyPatchesHistoryFileBtn = Скопировать патчи
		#LOC_PartInfoInPAW_PartMMPatchesHistory_OpenPatchesHistoryBtn = Открыть патчи в редакторе
		#LOC_PartInfoInPAW_PartMMPatchesHistory_PatchFileName = <color=#ddfe00><<1>></color>
		#LOC_PartInfoInPAW_CantReadFile_FailureMsg = <color=#FF8000>Ошибка: не удалось прочитать файл <<1>>!</color>
		#LOC_PartInfoInPAW_CantParsePartPatchesHistory_FailureMsg = <color=#FF8000>Ошибка: не удалось получить историю MM-патчей для детали <<1>>!</color>
		#LOC_PartInfoInPAW_CantParsePatchCFG_ErrorMsg = <color=#FF8000>Не удалось получить текст патча</color>
		#LOC_PartInfoInPAW_CopyToClipboard_MMPatchesHistory_SuccessMsg = <color=#CCFF00>Деталь <<1>> : история MM-патчей успешно скопирована</color>
		#LOC_PartInfoInPAW_CopyToClipboard_MMPatchesHistory_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать историю MM-патчей детали <<1>>!</color>
		#LOC_PartInfoInPAW_CantWriteToTempFile_MMPatchesHistory_FailureMsg = <color=#FF8000>Ошибка: не удалось записать историю MM-патчей детали во временный файл <<1>>!</color>

		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusNotInitialized = Лог-файл Module Manager не загружен
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusLogsNotFound = <color=#FF8000>Не удалось найти лог-файл Module Manager</color>
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusLoadingLogFile = Загрузка лог-файла Module Manager...
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusReadyToParse = Лог-файл Module Manager загружен
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusParsingLog = Анализируем лог-файл Module Manager (<<1>>% выполнено)

		#LOC_PartInfoInPAW_Settings_Title = Part Info in PAW Enhanced
		#LOC_PartInfoInPAW_Settings_PartInfo_Title = Общая информация о детали
		#LOC_PartInfoInPAW_Settings_PartInfo_TitleInFlight = Общая информация о детали в полёте
		#LOC_PartInfoInPAW_Settings_ShowPartInfo = Информация о детали в ПКМ-меню
		#LOC_PartInfoInPAW_Settings_ShowPartInfo_Tooltip = Отображать в ПКМ-меню информацию о детали\n(имя (ID), мод, сухая и полная масса, стоимость)
		#LOC_PartInfoInPAW_Settings_ShowButtonsTitle =  \n\nКнопки в ПКМ-меню
		#LOC_PartInfoInPAW_Settings_ShowButtonsTitle_Tooltip = Можно отключить кнопки, которыми вы не пользуетесь,\nчтобы не загромождать ПКМ-меню
		#LOC_PartInfoInPAW_Settings_CopyPartName_ShowBtn = Скопировать имя детали
		#LOC_PartInfoInPAW_Settings_CopyPartName_ShowBtn_Tooltip = Кнопка копирует имя (ID) детали в буфер обмена
		#LOC_PartInfoInPAW_Settings_CopyPartNode_ShowBtn = Скопировать конфиг детали
		#LOC_PartInfoInPAW_Settings_CopyPartNode_ShowBtn_Tooltip = Кнопка копирует в буфер обмена текстовое представление\nконфигурации детали после всех применённых MM-патчей\n(т.е. в том состоянии, в котором деталь присутствует в игре)
		#LOC_PartInfoInPAW_Settings_CopyOrigPartNode_ShowBtn = Скопировать ориг. файл конфига
		#LOC_PartInfoInPAW_Settings_CopyOrigPartNode_ShowBtn_Tooltip = Кнопка копирует в буфер обмена содержимое текстового файла\nконфигурации детали (cfg-файл) в её оригинальном состоянии (до применения любых MM-патчей).\nЕсли деталь является копией другой, будет скопирована конфигурация изначальной детали
		#LOC_PartInfoInPAW_Settings_OpenPartCFGInEditor_ShowBtn = Открыть конфиг в редакторе
		#LOC_PartInfoInPAW_Settings_OpenPartCFGInEditor_ShowBtn_Tooltip = Кнопка сохраняет во временный файл текстовое представление\nконфигурации детали после всех применённых MM-патчей (т.е. в том состоянии, в котором деталь присутствует в игре),\nи открывает файл в редакторе по умолчанию для .cfg-файлов
		#LOC_PartInfoInPAW_Settings_OpenOrigPartCFGInEditor_ShowBtn = Открыть ориг. конфиг в редакторе
		#LOC_PartInfoInPAW_Settings_OpenOrigPartCFGInEditor_ShowBtn_Tooltip = Кнопка открывает файл конфигурации детали (cfg-файл) в её оригинальном состоянии\n(до применения любых MM-патчей) в редакторе по умолчанию для .cfg-файлов.\nЕсли деталь является копией другой, будет открыта конфигурация изначальной детали
		#LOC_PartInfoInPAW_Settings_ShowPartMMPatchesHistory_ShowBtn = История MM-патчей детали
		#LOC_PartInfoInPAW_Settings_ShowPartMMPatchesHistory_ShowBtn_Tooltip = Кнопка открывает окно с перечнем применённых к детали MM-патчей\n(в порядке их применения)
		#LOC_PartInfoInPAW_Settings_EnginesInfo_Title = Информация о двигателе
		#LOC_PartInfoInPAW_Settings_ShowEngineInfo = Информация о двигателе в ПКМ-меню
		#LOC_PartInfoInPAW_Settings_ShowEngineInfo_Tooltip = Если деталь является двигателем, в ПКМ-меню может отображаться дополнительная информация.\nВыберите, что именно вы хотите увидеть, либо отключите отображение этой информации вовсе
		#LOC_PartInfoInPAW_Settings_ShowEngineInfoTitle =  \nОтображать информацию о
		#LOC_PartInfoInPAW_Settings_ShowEnginesPropellantsInfo = Пропеллентах
		#LOC_PartInfoInPAW_Settings_ShowEnginesPropellantsInfo_Tooltip = Отображать информацию о пропеллентах двигателя (топливо, окислитель, ...)
		#LOC_PartInfoInPAW_Settings_ShowEnginesThrustInfo = Тяге
		#LOC_PartInfoInPAW_Settings_ShowEnginesThrustInfo_Tooltip = Отображать информацию о тяге двигателя (по умолчанию это максимальная тяга) в вакууме и на уровне моря
		#LOC_PartInfoInPAW_Settings_ShowEnginesMinThrustInfo = Минимальной тяге (% от макс.)
		#LOC_PartInfoInPAW_Settings_ShowEnginesMinThrustInfo_Tooltip = Будет отображаться, только если двигатель имеет ненулевую минимальную тягу
		#LOC_PartInfoInPAW_Settings_ShowEnginesISPInfo = Удельном импульсе
		#LOC_PartInfoInPAW_Settings_ShowEnginesISPInfo_Tooltip = Отображать удельный импульс двигателя в секундах, в вакууме и на уровне моря
		#LOC_PartInfoInPAW_Settings_ShowEnginesGimbalInfo = Векторе тяги
		#LOC_PartInfoInPAW_Settings_ShowEnginesGimbalInfo_Tooltip = Отображать максимальное отклонение вектора тяги (ОВТ), в градусах.\nЕсли у детали несколько модулей "Вектор тяги", будет показано максимальное значение ОВТ,\nотдельно по осям X и Y, если оно различается

		#LOC_PartInfoInPAW_Settings_UseAlternateSkin = Альтернативная тема
		#LOC_PartInfoInPAW_Settings_UseAlternateSkinTooltip = Более минималистичная бесцветная тема
		#LOC_PartInfoInPAW_Settings_TabIndentSizeTitle = Размер отступа табуляции
		#LOC_PartInfoInPAW_Settings_TabIndentSizeTooltip = Насколько велик отступ табуляции при отображении в окне
		#LOC_PartInfoInPAW_Settings_PartInfoTitle = Информация о компоненте
		#LOC_PartInfoInPAW_Settings_UseExtEditorTitle = Использовать внешний редактор
		#LOC_PartInfoInPAW_Settings_UseExtEditorTooltip = Открыть конфигурационные файлы во внешнем редакторе

		#LOC_PartInfoInPAW_Kg_Unit = кг
		#LOC_PartInfoInPAW_T_Unit = т
		#LOC_PartInfoInPAW_mN_Unit = мН
		#LOC_PartInfoInPAW_N_Unit = Н
		#LOC_PartInfoInPAW_KN_Unit = КН
		#LOC_PartInfoInPAW_MN_Unit = МН
	}
}
