Localization
{
	ru
	{
		#LOC_PartInfoInPAW_PartInfo_GroupTitle = Информация о детали
		#LOC_PartInfoInPAW_Engine1Info_GroupTitle = Двигатель №1
		#LOC_PartInfoInPAW_Engine2Info_GroupTitle = Двигатель №2
		#LOC_PartInfoInPAW_PartName_Title = Имя (ID)
		#LOC_PartInfoInPAW_PartMod_Title = Папка мода
		#LOC_PartInfoInPAW_PartDryMass_Title = Сухая масса
		#LOC_PartInfoInPAW_PartDryWetMass_Title = Сухая / полная масса
		#LOC_PartInfoInPAW_PartCost_Title = Стоимость
		#LOC_PartInfoInPAW_PartEntryCost_Title = Стоим. выкупа
		#LOC_PartInfoInPAW_PartTemperature_Title = Температура (тек./макс.)
		#LOC_PartInfoInPAW_PartSkinTemperature_Title = Темп. обшивки (тек./макс.)
		#LOC_PartInfoInPAW_PartEngineTWR_Title = Тяговооруженность двигателя
		#LOC_PartInfoInPAW_Info_Title = Информация
		#LOC_PartInfoInPAW_CopyPartName_Action = Скопировать имя детали
		#LOC_PartInfoInPAW_CopyPartNode_Action = Скопировать конфиг детали
		#LOC_PartInfoInPAW_CopyOrigPartNode_Action = Скопировать ориг. файл конфига
		#LOC_PartInfoInPAW_OpenPartCFGInEditor_Action = Открыть конфиг в редакторе
		#LOC_PartInfoInPAW_OpenOrigPartCFGInEditor_Action = Открыть ориг. файл в редакторе
		#LOC_PartInfoInPAW_Kg_Unit = кг
		#LOC_PartInfoInPAW_T_Unit = т
		#LOC_PartInfoInPAW_PartModuleInfo = <b>Имя (ID) детали:</b> <<1>><br>\n<b>Путь к CFG-файлу детали:</b> <<2>>
		#LOC_PartInfoInPAW_CopyToClipboard_PartID_SuccessMsg = <color=#CCFF00>Деталь <<1>> : ID успешно скопировано</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartID_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать ID детали <<1>>!</color>
		#LOC_PartInfoInPAW_GetNode_PartCFG_FailureMsg = <color=#FF8000>Ошибка: не удалось получить конфиг детали <<1>>!</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartCFG_SuccessMsg = <color=#CCFF00>Деталь <<1>> : конфиг успешно скопирован</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartCFG_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать конфиг детали <<1>>!</color>
		#LOC_PartInfoInPAW_OpenFile_PartOrigFile_FailureMsg = <color=#FF8000>Ошибка: не удалось открыть базовый CFG файл детали <<1>>!</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartOrigFile_SuccessMsg = <color=#CCFF00>Деталь <<1>> : базовый CFG файл успешно скопирован</color>
		#LOC_PartInfoInPAW_CopyToClipboard_PartOrigFile_FailureMsg = <color=#FF8000>Ошибка: не удалось скопировать базовый CFG файл детали <<1>>!</color>
		#LOC_PartInfoInPAW_CantWriteToTempFile_PartCFG_FailureMsg = <color=#FF8000>Ошибка: не удалось записать конфиг детали во временный файл <<1>>!</color>
		#LOC_PartInfoInPAW_CantOpenFile_FailureMsg = <color=#FF8000>Ошибка: не удалось открыть файл <<1>> в редакторе по умолчанию!</color>
		#LOC_PartInfoInPAW_ShowPartMMPatchesHistory_Action = История MM патчей
		#LOC_PartInfoInPAW_PartMMPatchesHistory_Title = История применённых к детали<br><<1>><br>патчей Module Manager
		#LOC_PartInfoInPAW_CloseBtn = Закрыть
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusLogParsed = История MM-патчей детали подготовлена
		#LOC_PartInfoInPAW_PartMMPatchesHistory_PartPatchesMsg = <b>Деталь <<1>> : применено <<2>> MM-патчей:</b>
		#LOC_PartInfoInPAW_PartMMPatchesHistory_CopyPatchesHistoryFileBtn = Скопировать патчи
		#LOC_PartInfoInPAW_PartMMPatchesHistory_OpenPatchesHistoryBtn = Открыть патчи в редакторе
		#LOC_PartInfoInPAW_CantReadFile_FailureMsg = <color=#FF8000>Ошибка: не удалось прочитать файл <<1>>!</color>
		#LOC_PartInfoInPAW_CantParsePartPatchesHistory_FailureMsg = <color=#FF8000>Ошибка: не удалось получить историю MM-патчей для детали <<1>>!</color>

		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusNotInitialized = Лог-файл Module Manager не загружен
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusLogsNotFound = <color=#FF8000>Не удалось найти лог-файл Module Manager</color>
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusLoadingLogFile = Загрузка лог-файла Module Manager...
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusReadyToParse = Лог-файл Module Manager загружен
		#LOC_PartInfoInPAW_PartMMPatchesHistory_StatusParsingLog = Анализируем лог-файл Module Manager (<<1>>% выполнено)
	}
}
